:root {
  --ion-background-color: #778899;
  --ion-text-color: #111111; 
}
ion-list{
    --ion-background-color: #e6e6e6;
    --ion-text-color: #999999;
    --ion-text-font: 50px;
}
ion-header{
    --ion-background-color: #e6e6e6;
    --ion-text-color: #2F4F4F;  
}