.App {
  text-align: center;
}

.noteListItem{
    background-color : #dddddd;
    padding: 10px;
    cursor: pointer;
}
.noteListItem:nth-of-type(odd){
    background-color: #eeeeee;
}
.noteListItem:hover{
    background-color: #cccccc;
}